nav{
  background:rgba(3,3,3,0.7);
  padding-bottom: 10px;
}
footer{
  text-align: center;
}
footer .title{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px;
}
footer ul{
   cursor: pointer;
   text-align: left;
   font-style: italic;
   font-size: 15px;
   line-height: 30px;
}
footer li:hover{
  color:#fff;
  background-color: #222;

}
.articlemain{
  width:100%;
  overflow-x:hidden;
}
.line{
  border-color: #00bb25;
  background: #00bb25;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.twitter{
  border-color: #66c3f6;
  background: #66c3f6;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.facebook{
  border-color: #4267b2;
  background: #4267b2;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}
.nice{
  background: #365899;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.donate{
    color:#fff;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 100px;
    background: linear-gradient(90deg,#00a2e4,#a7cd6b,#00a2e4,#a7cd6b,#00a2e4);
    background-size: 500%;
    opacity: .8;
    animation: rainbowMov 2s linear infinite;
    transition: all .35s; 
    cursor: pointer;
  }
  .donate:hover{
    color:#111;
  }
.basicicon{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 2px;
  margin: 3px;
  color: rgba(17,17,17,.8);
  background: hsla(0,0%,100%,.4);
  text-align: center; 
  cursor: pointer;
}
.basicicon:hover{
  background: #fff;
}
.traceme{
  color: #fff;
  text-align: center;
  margin: 5px 10px;
}
.yapai{
  background: #fbf8e3;
  font-size: 20px;
  border-radius: 8px;
  line-height: 2em;
  text-align: center;
  margin-top: 5%;
}
article{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
article p ,article h3{
  display: block;
  width: 700px;
  text-align: center;
}
.artimg{
  width: 700px;
}
