ul{
  list-style: none;
}
.closed{
  width:50px !important;
}
.sidebar{
  max-width: 230px;
}
.main{
  width:100%;
  background-image: url(asset/img/bgnoise_lg.png);
  overflow-x:hidden;
}
.angel{
  height: 30px;
  color: #fff;
  padding-left: 5px;
  background: #222;
}
.angel-icon:hover{
  transform: scaleX(1.5) scaleY(1.5) ;
}
.logos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  background-color: #222;
  width: 230px;
}
.logo{
  background-image: url(asset/img/logoIco.png);
  background-size: cover;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  
}
.logo2{
  height: 55px;
  width: 153px;
  background-image: url(asset/img/logo-2.png);
  margin-right: 20px;
}
.navc{
  background-image: url(asset/img/bgnoise_lg.png);
  vertical-align: middle;
  width: 100%;
  height: 100px;
}
.navbar{
  justify-content: left;
}
.brand{
  color: #000000;
  font-size: 25px;
  margin-left: 10px;
}
 .love,.search{
  background: #222222;
  margin-left: 20px;
  color: #ffffff;
  border-radius: 50px;
  font-size: 15px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 25px;
}
.love:hover,.search:hover{
  background: #fff;
  color: #222;
}
.love span , .search span{
  margin-left: 5px;
}
.num{
  font-size: 15px;
  color: #000;
  padding-left: 15px;
  
}
.full {
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #222222;
  color:#fff;
  padding-bottom: 100px;
  position: fixed;
}
.full ul , .easy ul{
  padding-inline-start: 0;
  margin-block-end: 0;
  
}
.full i , .easy i{
  margin: 10px 10px;
  
}
.full li {
  padding: 5px 0;
}
.full li:hover , .easy li:hover{
  color:#222;
  background: #fff;
  cursor: pointer;
}
.full strong{
  display: block;
  padding: 2px 10px;
  border-top: 2px solid #aaa;
  line-height: 30px; 
  color: #ccc;
  background-color: #555;
  width: 230px;
}
.news span{
  display : inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow : ellipsis;
  max-width : 170px;
  vertical-align: middle;
}
.new , .new:hover{
  margin: 20px 8px;
  color:#fff;
  text-align: left;
  display: inline-block;
  background:#900;
  padding: 0 3px;
  height: 15px;
  font-size: 10px;
  margin-right:10px;

}
.special li,.special li:hover{
  padding: 0 0;
  display: flex;
  background-image: url(asset/img/bg1.jpg);
  width: 230px;
  height: 15vh;
  background-position: 0px -16px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}
.special span{
  width: 230px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-shadow: 0 0 10px #000, 0 0 1px #000, 0 1px 1px #000, 0 2px 1px #000
}
.subside{
  font-size: 18px;
  width: 230px;
  background: #222;
}

.easy{
  height: calc(100vh - 95.2px);
  background: #222;
  color:#fff;
  padding-bottom: 20px;
  position: fixed;
}
.easy li{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 50px;
  width: 50px;
}

.newscard{
  background-image: url(asset/img/bgnoise_lg.png);
  border-top: gray solid 3px;
}
.footer{
  color: #fff;
  background-color: #222;
}
.aaa{
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: absolute;
  height: 60px;
  width: 60px;
  right:40px;
  bottom: 80px;
  background-color: #222;
}
.aaa:hover{
  transform: scaleX(1.4) scaleY(1.4);
  text-decoration: none;
}
.footul{
  padding-inline-start: 0;
}
.footul li{
  display: inline;
  padding: 5px 10px;
}
